<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %> <br> 
        <% artist.songs.each do |song| %>
        <ol> <%= link_to song.title, artist_song_path(artist, song) %>
        </ol>
        <% end %>
    </li>
  <% end %>
</ul>
